html {
	height: 100%;
}

body {
	background-color: black;
	background-image: url("images/classroomB.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: "center top";
}

#chalkboard {
	position: absolute;
	left: 3%;
	top: 5%;
	width: 79%;
	height: 70%;
	background-image: url("images/chalkboard.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: "left top";
	z-index: -10;
}

a {
	color: yellow;
}

#container {
	color: white;
	position: absolute;
	left: 5%;
	top: 10%;
	right: 5%;
	bottom: 10%;
	overflow: auto;
}

#content {
	padding-right: 10px;
}

#logo {
	color: white;
	position: absolute;
	right: 3%;
	top: 10%;
	text-align: center;
}

#home-button {
	background-image: url("images/homeB.png");
	width: 84px;
	height: 122px;
	position: absolute;
	right: 5%;
	top: 25%;
}

#home-button:hover {
	background-image: url("images/HOMEICON.PNG");
	width: 84px;
	height: 122px;
	position: absolute;
	right: 5%;
	top: 25%;
}

#home-button-active {
	background-image: url("images/HOMEICON.PNG");
	width: 84px;
	height: 122px;
	position: absolute;
	right: 5%;
	top: 25%;
}

#news-button {
	background-image: url("images/newsB.png");
	width: 100px;
	height: 74px;
	position: absolute;
	left: 5%;
	bottom: 10%;
}

#news-button:hover {
	background-image: url("images/NEWSICON.png");
	width: 100px;
	height: 74px;
	position: absolute;
	left: 5%;
	bottom: 10%;
}

#news-button-active {
	background-image: url("images/NEWSICON.png");
	width: 100px;
	height: 74px;
	position: absolute;
	left: 5%;
	bottom: 10%;
}

#patch-button {
	background-image: url("images/patchB.png");
	width: 90px;
	height: 90px;
	position: absolute;
	left: 20%;
	bottom: 10%;
}

#patch-button:hover {
	background-image: url("images/PATCHICON.PNG");
	width: 90px;
	height: 90px;
	position: absolute;
	left: 20%;
	bottom: 10%;
}

#patch-button-active {
	background-image: url("images/PATCHICON.PNG");
	width: 90px;
	height: 90px;
	position: absolute;
	left: 20%;
	bottom: 10%;
}

#stories-button {
	background-image: url("images/storiesB.png");
	width: 70px;
	height: 89px;
	position: absolute;
	left: 35%;
	bottom: 10%;
}

#stories-button:hover {
	background-image: url("images/STORIESICON.png");
	width: 70px;
	height: 89px;
	position: absolute;
	left: 35%;
	bottom: 10%;
}

#stories-button-active {
	background-image: url("images/STORIESICON.png");
	width: 70px;
	height: 89px;
	position: absolute;
	left: 35%;
	bottom: 10%;
}

#link-button {
	background-image: url("images/linkB.png");
	width: 71px;
	height: 86px;
	position: absolute;
	left: 50%;
	bottom: 10%;
}

#link-button:hover {
	background-image: url("images/LINKICON2.png");
	width: 71px;
	height: 86px;
	position: absolute;
	left: 50%;
	bottom: 10%;
}

#link-button-active {
	background-image: url("images/LINKICON2.png");
	width: 71px;
	height: 86px;
	position: absolute;
	left: 50%;
	bottom: 10%;
}

#contact-button {
	background-image: url("images/contactB.png");
	width: 77px;
	height: 100px;
	position: absolute;
	left: 65%;
	bottom: 10%;
}

#contact-button:hover {
	background-image: url("images/CONTACTICON.png");
	width: 77px;
	height: 100px;
	position: absolute;
	left: 65%;
	bottom: 10%;
	background-repeat: no-repeat;
}

#contact-button-active {
	background-image: url("images/CONTACTICON.png");
	width: 77px;
	height: 100px;
	position: absolute;
	left: 65%;
	bottom: 10%;
	background-repeat: no-repeat;
}